body {
    background-color: white;
}

#spacer {
    height: 100px;
}

#correctText {
    display: none;
}

#correctText.show {
    display: block;
}

#wrongText {
    display: none;
}

#wrongText.show {
    display: block;
}